*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #c6d402, #2ad8ff);
}

.container {
    width: 400px;
    height: 95vh;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px black;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.container h2 {
    background: #075E54;
    color: white;
    padding: 1rem;
}

.container .input {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background: white;
}

.container .input input {
    width: 100%;
    margin-right: .5rem;
    padding: .5rem;
    border: none;
    outline: none;
    border-bottom: solid 1px #ddd;
    color: #444;
    font-size: 1rem;
}

.container .input button {
    padding: .5rem;
    border: none;
    outline: none;
    background: green;
    color: white;
    font-size: 1.2rem;
    border-radius: 50%;
    width: 50px;
    height: 45px;
    cursor: pointer;
}

ul.messages {
    list-style: none;
    flex-grow: 1;
    background: #ece5dd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
}

ul.messages li.message {
    max-width: 80%;
    background: #ebebeb;
    margin: .5rem 1rem;
    padding: 1.5rem .5rem 1rem .5rem;
    border-radius: 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    color: #444;
    position: relative;
}

ul.messages li.message.mine {
    align-self: flex-end;
    padding-top: 1rem;
    border-radius: 15px;
    background: #DCF8C6;
}

ul.messages li.message span.sender {
    position: absolute;
    top: .5rem;
    left: .5rem;
    color: #3498db;
    font-weight: bold;
    font-size: .8rem;
}

ul.messages li.message span.date {
    position: absolute;
    bottom: .1rem;
    right: .5rem;
    font-size: .6rem;
    color: #999;
}

.container .login {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ebebeb;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #444;
    padding: 1rem;
}

.container .login.hidden {
    display: none;
}

.container .login span {
    font-size: 1.2rem;
}

.container .login input {
    font-size: 1.2rem;
    padding: .5rem;
    width: 100%;
    border: none;
    outline: none;
    background: #ebebeb;
    color:  #444;
    border-bottom: solid 1px #ccc;
    margin: 1.5rem 0rem;
    text-align: center;
}

.container .login button {
    border: none;
    outline: none;
    background: green;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}